.App {
  color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #0a0f43;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.App-footer-text {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.App-header-banner {
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.App-header-text {
  font-size: 20px;
  margin: 0 10px;
}

.Navbar-list {
  display: flex;
  list-style-type: none; /* Removes the default bullet points */
  padding: 0;
  margin: 0 10px;
}

.Navbar-list li {
  margin: 0 20px;
  font-weight: 600;
}

.Navbar-sidebar {
  display: flex;
  flex-direction: row;
}

.Navbar {
  background-color: #d1e3ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.Navbar-text {
  color: #0b55cd;
  font-weight: bold;
  font-size: 25px;
  margin: 0 5px;
}

.App-footer-social-container-images {
  background-color: white;
  padding: 10px 10px;
}

.App-footer-container-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: #ffffff;
}
.App-footer-info-container {
  display: flex;
  flex-direction: row;
}
.App-footer-info-container-text {
  color: white;
}
.App-footer-section-info-container {
  color: #000;
}

hr {
  margin: 40px 10px !important;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 1 !important;
}

.App-form {
  display: flex;
  flex-direction: column;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px !important;
  border-radius: 4px;
}

button {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 55px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff;
  margin-top: 15px;
  width: 20%;
}

.input-shadow {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Light shadow */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
  outline: none;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 10px 10px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

h3 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
}

p {
  color: #666;
}

.buttons {
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #0355cc !important; /* Forces this style to override others */
  outline: none;
  margin: 0 20px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn i {
  font-size: 1rem;
}
textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px !important;
}

.App-contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-form {
  width: 100%;
}

.App-services-container {
  display: flex;
  padding: 10px 10px;
}

.App-professional-layout {
  background-color: #000000;
}

h4 {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
