.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.App-footer{
  background-color: #0A0F43;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
}

.App-footer-text{
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.App-header-banner{
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.App-header-text{
  font-size: 20px;
  margin: 0 10px;
}

.Navbar-list {
  display: flex;
  list-style-type: none; /* Removes the default bullet points */
  padding: 0;
  margin: 0 10px;
}

.Navbar-list li{
  margin:0 20px;
  font-weight: 600;
}

.Navbar-sidebar {
  display: flex;
  flex-direction: row;
}

.Navbar {
  background-color: #D1E3FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}



.Navbar-text {
  color: #0B55CD;
  font-weight: bold;
  font-size: 25px;
  margin: 0 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
